{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Dashboard {% endblock %}


{% block body %}

    <div class="main-body">


    <div class="container">
        <h1 class=" title2 mt-4 text-center"> Bienvenue fan de Marvel !</h1>
        <h5 class="text-center">Sur ce site vous allez pouvoir ajouter de nouveaux personnages à votre univers
            préféré. </h5>
    </div>

    <div class="container mt-4">
        <h3 class="title2">Vos personnages</h3>
        {% for messages in app.flashes('success') %}
            <div class="alert alert-success">
                {{ messages }}
            </div>
        {% endfor %}
        <a href="{{ path('caracter.new') }}" class="btn btn-marvel mb3 fa fa-plus-circle mb-3"><span class="btn-text"> Créer un personnage</span>
        </a>
        <a href="{{ path('caracters') }}" class="btn btn-marvel mb-3"><span>Afficher tous</span></a>

        <div class="row flew">

            {% for caracters in caractersList %}
                <div class="col-3">
                    <div class="card mb-4">
                        <a href="{{ path('caracter.show', {id: caracters.id}) }}"><img
                                    src="../img/caracters/{{ caracters.filename }}"
                                    class="card-img-top img-card"></a>
                        <div class="lign4"></div>
                        <div class="card-body">
                            <div class="card-title">
                                {{ caracters.name }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>


    <div class="image-parallax mt-5"></div>

    <div class="container mt-3">
        <h3 class="title2 mt-4">Vos pouvoirs</h3>
        <a href="{{ path('power.new') }}" class="btn btn-marvel mb3 fa fa-plus-circle mb-3 "><span class="btn-text"> Créer un pouvoir</span>
        </a>
        <table class="table table-bordered">

            <thead class="titletable">
            <tr>
                <th scope="col">Nom du Pouvoir</th>
                <th scope="col">Niveau</th>
            </tr>
            </thead>
            <tbody>
            {% for powers in powersList %}
                <tr>
                    <td>{{ powers.name }}</td>
                    <td>{{ powers.level }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>









{% endblock %}